.titleInputContainer {
	position: relative;
	width: fit-content;
	padding: .5rem;
}

.titleInputContainer input {
	border: 0;
	outline: 0;
}

.titleInputContainer label {
	position: absolute;
	color: #ddd;
	background-color: #fff;
	font-size: 0.75rem;
	padding: 0 .25rem;
	transform: translate(0, -100%);
	transition-duration: .25s;
}

.titleInputContainer:has(input:placeholder-shown:not(:focus)) label {
	background-color: transparent;
	font-size: 1rem;
	transform: translate(0, 0);
}
.titleInputContainer:has(input:focus) label {
	color: #faa;
}

.titleInputContainer.solid {
	border: 1px solid #ddd;
	border-radius: .5rem;
}
.titleInputContainer.solid:has(input:focus) {
	border: 1px solid #faa;
}