.passwordInputContainer {
	position: relative;
	width: fit-content;
	border: 1px solid #ddd;
	padding: .5rem;
}

.passwordInputContainer:has(input:focus) {
	border: 1px solid #faa;
}

.passwordInputContainer input {
	border: 0;
	outline: 0;
}

.passwordInputContainer span {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding-right: .5rem;
}

.passwordInputContainer span {
	cursor: pointer;
}